body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1004.67515597897px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:227px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:163px;
  width:238px;
  height:227px;
  font-family:'Cambria Regular', 'Cambria';
  font-weight:400;
  font-style:normal;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:305px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:335px;
  width:231px;
  height:305px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:303px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:346px;
  width:230px;
  height:303px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:332px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:111px;
  width:274px;
  height:332px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:269px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:-5px;
  width:231px;
  height:269px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:335px;
  width:0px;
  height:0px;
}
#u24_seg0 {
  border-width:0px;
  position:absolute;
  left:-625px;
  top:-339px;
  width:8px;
  height:8px;
}
#u24_seg1 {
  border-width:0px;
  position:absolute;
  left:-625px;
  top:-339px;
  width:8px;
  height:8px;
}
#u24_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24_seg3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:391px;
  width:0px;
  height:0px;
}
#u25_seg0 {
  border-width:0px;
  position:absolute;
  left:-53px;
  top:-63px;
  width:114px;
  height:22px;
  -webkit-transform:rotate(-78deg);
  -moz-transform:rotate(-78deg);
  -ms-transform:rotate(-78deg);
  transform:rotate(-78deg);
}
#u25_seg1 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-95px;
  width:120px;
  height:20px;
  -webkit-transform:rotate(25deg);
  -moz-transform:rotate(25deg);
  -ms-transform:rotate(25deg);
  transform:rotate(25deg);
}
#u25_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25_seg3 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:-56px;
  width:1px;
  height:1px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-110px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:388px;
  width:0px;
  height:0px;
}
#u26_seg0 {
  border-width:0px;
  position:absolute;
  left:-121px;
  top:92px;
  width:224px;
  height:28px;
  -webkit-transform:rotate(99deg);
  -moz-transform:rotate(99deg);
  -ms-transform:rotate(99deg);
  transform:rotate(99deg);
}
#u26_seg1 {
  border-width:0px;
  position:absolute;
  left:-179px;
  top:230px;
  width:158px;
  height:32px;
  -webkit-transform:rotate(160deg);
  -moz-transform:rotate(160deg);
  -ms-transform:rotate(160deg);
  transform:rotate(160deg);
}
#u26_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26_seg3 {
  border-width:0px;
  position:absolute;
  left:-174px;
  top:261px;
  width:1px;
  height:1px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:-84px;
  top:202px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:498px;
  width:0px;
  height:0px;
}
#u27_seg0 {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:-36px;
  width:92px;
  height:20px;
  -webkit-transform:rotate(-133deg);
  -moz-transform:rotate(-133deg);
  -ms-transform:rotate(-133deg);
  transform:rotate(-133deg);
}
#u27_seg1 {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:-102px;
  width:110px;
  height:20px;
  -webkit-transform:rotate(-31deg);
  -moz-transform:rotate(-31deg);
  -ms-transform:rotate(-31deg);
  transform:rotate(-31deg);
}
#u27_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27_seg3 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-114px;
  width:1px;
  height:1px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:-107px;
  top:-69px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:279px;
  width:0px;
  height:0px;
}
#u28_seg0 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:11px;
  width:78px;
  height:22px;
  -webkit-transform:rotate(50deg);
  -moz-transform:rotate(50deg);
  -ms-transform:rotate(50deg);
  transform:rotate(50deg);
}
#u28_seg1 {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:75px;
  width:124px;
  height:18px;
  -webkit-transform:rotate(153deg);
  -moz-transform:rotate(153deg);
  -ms-transform:rotate(153deg);
  transform:rotate(153deg);
}
#u28_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28_seg3 {
  border-width:0px;
  position:absolute;
  left:-59px;
  top:106px;
  width:1px;
  height:1px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:46px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:163px;
  width:0px;
  height:0px;
}
#u29_seg0 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-33px;
  width:74px;
  height:16px;
  -webkit-transform:rotate(-43deg);
  -moz-transform:rotate(-43deg);
  -ms-transform:rotate(-43deg);
  transform:rotate(-43deg);
}
#u29_seg1 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-39px;
  width:74px;
  height:18px;
  -webkit-transform:rotate(33deg);
  -moz-transform:rotate(33deg);
  -ms-transform:rotate(33deg);
  transform:rotate(33deg);
}
#u29_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29_seg3 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:-9px;
  width:1px;
  height:1px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-53px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:130px;
  width:0px;
  height:0px;
}
#u30_seg0 {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:32px;
  width:98px;
  height:22px;
  -webkit-transform:rotate(82deg);
  -moz-transform:rotate(82deg);
  -ms-transform:rotate(82deg);
  transform:rotate(82deg);
}
#u30_seg1 {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:50px;
  width:122px;
  height:18px;
  -webkit-transform:rotate(-146deg);
  -moz-transform:rotate(-146deg);
  -ms-transform:rotate(-146deg);
  transform:rotate(-146deg);
}
#u30_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u30_seg3 {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:24px;
  width:1px;
  height:1px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:80px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:488px;
  width:0px;
  height:0px;
}
#u31_seg0 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:22px;
  width:172px;
  height:20px;
  -webkit-transform:rotate(19deg);
  -moz-transform:rotate(19deg);
  -ms-transform:rotate(19deg);
  transform:rotate(19deg);
}
#u31_seg1 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:-8px;
  width:104px;
  height:28px;
  -webkit-transform:rotate(-89deg);
  -moz-transform:rotate(-89deg);
  -ms-transform:rotate(-89deg);
  transform:rotate(-89deg);
}
#u31_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u31_seg3 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:-42px;
  width:1px;
  height:1px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:105px;
  top:46px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:229px;
  width:0px;
  height:0px;
}
#u32_seg0 {
  border-width:0px;
  position:absolute;
  left:-101px;
  top:45px;
  width:136px;
  height:16px;
  -webkit-transform:rotate(119deg);
  -moz-transform:rotate(119deg);
  -ms-transform:rotate(119deg);
  transform:rotate(119deg);
}
#u32_seg1 {
  border-width:0px;
  position:absolute;
  left:-121px;
  top:155px;
  width:116px;
  height:18px;
  -webkit-transform:rotate(88deg);
  -moz-transform:rotate(88deg);
  -ms-transform:rotate(88deg);
  transform:rotate(88deg);
}
#u32_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u32_seg3 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:217px;
  width:1px;
  height:1px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:102px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:130px;
  width:0px;
  height:0px;
}
#u33_seg0 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-64px;
  width:232px;
  height:30px;
  -webkit-transform:rotate(-21deg);
  -moz-transform:rotate(-21deg);
  -ms-transform:rotate(-21deg);
  transform:rotate(-21deg);
}
#u33_seg1 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:24px;
  width:276px;
  height:28px;
  -webkit-transform:rotate(121deg);
  -moz-transform:rotate(121deg);
  -ms-transform:rotate(121deg);
  transform:rotate(121deg);
}
#u33_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u33_seg3 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:147px;
  width:1px;
  height:1px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:158px;
  top:-88px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:941px;
  top:237px;
  width:0px;
  height:0px;
}
#u34_seg0 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-51px;
  width:108px;
  height:24px;
  -webkit-transform:rotate(-61deg);
  -moz-transform:rotate(-61deg);
  -ms-transform:rotate(-61deg);
  transform:rotate(-61deg);
}
#u34_seg1 {
  border-width:0px;
  position:absolute;
  left:-131px;
  top:-79px;
  width:186px;
  height:20px;
  -webkit-transform:rotate(166deg);
  -moz-transform:rotate(166deg);
  -ms-transform:rotate(166deg);
  transform:rotate(166deg);
}
#u34_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u34_seg3 {
  border-width:0px;
  position:absolute;
  left:-121px;
  top:-43px;
  width:1px;
  height:1px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-95px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
