body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:787px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:349px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:134px;
  width:314px;
  height:349px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:43px;
  width:429px;
  height:108px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:108px;
  background-color:transparent;
  font-family:'李旭科漫画体v1.0 Bold', '李旭科漫画体v1.0';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:181px;
  width:194px;
  height:59px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:59px;
  background-color:transparent;
  font-family:'李旭科漫画体v1.0 Bold', '李旭科漫画体v1.0';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:195px;
  width:35px;
  height:32px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:195px;
  width:35px;
  height:32px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:195px;
  width:35px;
  height:32px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:262px;
  width:35px;
  height:32px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:250px;
  width:194px;
  height:55px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:55px;
  background-color:transparent;
  font-family:'李旭科漫画体v1.0 Bold', '李旭科漫画体v1.0';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:262px;
  width:35px;
  height:32px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:262px;
  width:35px;
  height:32px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:262px;
  width:35px;
  height:32px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:315px;
  width:194px;
  height:46px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:46px;
  background-color:transparent;
  font-family:'李旭科漫画体v1.0 Bold', '李旭科漫画体v1.0';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:381px;
  width:35px;
  height:32px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:322px;
  width:35px;
  height:32px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:322px;
  width:35px;
  height:32px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:371px;
  width:194px;
  height:52px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:52px;
  background-color:transparent;
  font-family:'李旭科漫画体v1.0 Bold', '李旭科漫画体v1.0';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:381px;
  width:35px;
  height:32px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:381px;
  width:35px;
  height:32px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:429px;
  width:316px;
  height:54px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:54px;
  background-color:transparent;
  font-family:'李旭科漫画体v1.0 Bold', '李旭科漫画体v1.0';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
