body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:928px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:993px;
  height:702px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:-55px;
  top:-31px;
  width:993px;
  height:702px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:451px;
  width:343px;
  height:73px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:73px;
  background-color:transparent;
  font-family:'李旭科漫画体v1.0 Bold', '李旭科漫画体v1.0';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-decoration:underline;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:508px;
  width:343px;
  height:91px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:91px;
  background-color:transparent;
  font-family:'李旭科漫画体v1.0 Bold', '李旭科漫画体v1.0';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-decoration:underline;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:378px;
  width:343px;
  height:86px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:86px;
  background-color:transparent;
  font-family:'李旭科漫画体v1.0 Bold', '李旭科漫画体v1.0';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-decoration:underline;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
