body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:817px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:503px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:67px;
  width:401px;
  height:503px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:57px;
  width:406px;
  height:75px;
}
#u75_input {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:75px;
  font-family:'李旭科漫画体v1.0 Bold', '李旭科漫画体v1.0';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:166px;
  width:248px;
  height:69px;
}
#u76_input {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:69px;
  font-family:'李旭科漫画体v1.0 Bold', '李旭科漫画体v1.0';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:235px;
  width:248px;
  height:69px;
}
#u77_input {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:69px;
  font-family:'李旭科漫画体v1.0 Bold', '李旭科漫画体v1.0';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:304px;
  width:248px;
  height:66px;
}
#u78_input {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:66px;
  font-family:'李旭科漫画体v1.0 Bold', '李旭科漫画体v1.0';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:370px;
  width:248px;
  height:62px;
}
#u79_input {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:62px;
  font-family:'李旭科漫画体v1.0 Bold', '李旭科漫画体v1.0';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:185px;
  width:35px;
  height:32px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:185px;
  width:35px;
  height:32px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:185px;
  width:35px;
  height:32px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:185px;
  width:35px;
  height:32px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:185px;
  width:35px;
  height:32px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:254px;
  width:35px;
  height:32px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:385px;
  width:35px;
  height:32px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:321px;
  width:35px;
  height:32px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:385px;
  width:35px;
  height:32px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:385px;
  width:35px;
  height:32px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:385px;
  width:35px;
  height:32px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:432px;
  width:416px;
  height:79px;
}
#u91_input {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:79px;
  font-family:'李旭科漫画体v1.0 Bold', '李旭科漫画体v1.0';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
