body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:803px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:466px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:84px;
  width:367px;
  height:466px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:42px;
  width:461px;
  height:112px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:112px;
  font-family:'李旭科漫画体v1.0 Bold', '李旭科漫画体v1.0';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:177px;
  width:222px;
  height:69px;
}
#u56_input {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:69px;
  background-color:transparent;
  font-family:'李旭科漫画体v1.0 Bold', '李旭科漫画体v1.0';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:194px;
  width:35px;
  height:32px;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:246px;
  width:187px;
  height:63px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:63px;
  background-color:transparent;
  font-family:'李旭科漫画体v1.0 Bold', '李旭科漫画体v1.0';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:262px;
  width:35px;
  height:32px;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:262px;
  width:35px;
  height:32px;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:262px;
  width:35px;
  height:32px;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:262px;
  width:35px;
  height:32px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:262px;
  width:35px;
  height:32px;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:328px;
  width:35px;
  height:32px;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:319px;
  width:187px;
  height:49px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:49px;
  background-color:transparent;
  font-family:'李旭科漫画体v1.0 Bold', '李旭科漫画体v1.0';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:328px;
  width:35px;
  height:32px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:328px;
  width:35px;
  height:32px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:328px;
  width:35px;
  height:32px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:368px;
  width:187px;
  height:57px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:57px;
  font-family:'李旭科漫画体v1.0 Bold', '李旭科漫画体v1.0';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:381px;
  width:35px;
  height:32px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:381px;
  width:35px;
  height:32px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:381px;
  width:35px;
  height:32px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:425px;
  width:327px;
  height:56px;
}
#u73_input {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:56px;
  font-family:'李旭科漫画体v1.0 Bold', '李旭科漫画体v1.0';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
