body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:997px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:574px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:34px;
  width:980px;
  height:574px;
  font-family:'Nirmala UI Normal', 'Nirmala UI';
  font-weight:400;
  font-style:normal;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:369px;
  width:325px;
  height:56px;
}
#u1_input {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:56px;
  background-color:transparent;
  font-family:'李旭科漫画体v1.0 Bold', '李旭科漫画体v1.0';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:435px;
  width:325px;
  height:56px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:56px;
  background-color:transparent;
  font-family:'李旭科漫画体v1.0 Bold', '李旭科漫画体v1.0';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:501px;
  width:325px;
  height:51px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:51px;
  background-color:transparent;
  font-family:'李旭科漫画体v1.0 Bold', '李旭科漫画体v1.0';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:43px;
  width:567px;
  height:177px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:567px;
  height:177px;
  background-color:transparent;
  font-family:'李旭科漫画体v1.0 Bold', '李旭科漫画体v1.0';
  font-weight:700;
  font-style:normal;
  font-size:90px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
